DATABASE_URL=mssql+aioodbc://USUARIO:TU_CONTRASEÑA@server.windows.net:1433/DB_NAME?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=yes
SECRET_KEY=changeme_generate_a_strong_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
AZURE_SERVICEBUS_CONNECTION_STR=
AZURE_SERVICEBUS_TOPIC=
AZURE_STORAGE_CONNECTION_STR=
AZURE_STORAGE_CONTAINER=